@charset "utf-8"; /*exemplo de comentario */


h1{

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #bee1e6;

}

body{
    margin: 0; 
    font-size: lem;
    background-color: #8e9aaf;






}



