@charset "utf-8"; /* exemplo de comentário */ 



h1{
    font-family: monospace; /* tipo de fonte que você quer na sua tag H1*/ 
    text-align: center;
    background-color:lightslategrey;
}
















